<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div id="page-content">
    <header>
      <a href="/">
        <span>Bookme</span>
      </a>
      <nav class="nav">
        <ul>
          <li>
            <a href="/catalog">Browse</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          {{#if hasUser}}
          <li>
            <a href="/create">Host</a>
          </li>
          <li>
            <a href="/facility/create">Create Facility</a>
          </li>
          <li>
            <a href="/auth/logout">Logout</a>
          </li>
          {{else}}
          <li>
            <a href="/auth/login">Login</a>
          </li>
          <li>
            <a href="/auth/register">Register</a>
          </li>
          {{/if}}
        </ul>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      Radoslav Dimchev &copy; 2022
    </footer>
  </div>
</body>

</html>