<section>
  <h1>New Facility</h1>

  <form class="aligned" action="/facility/create" method="post">
    <label><span>Label</span><input type="text" name="label"></label>
    <label><span>Icon URL</span><input type="text" name="iconUrl"></label>
    <button>Create</button>
  </form>
</section>