<section class="container center">
  <h1>Bookme</h1>
  <p>Welcome to out site</p>
  <a class="btn" href="/catalog">Browse Listings</a>
  <a class="btn" href="/create">Host Accommodation</a>
</section>