<section>
  <h1>Login</h1>

  <form class="aligned" action="/auth/login" method="post">
    <label><span>Username</span><input type="text" name="username" value="{{body.username}}"></label>
    <label><span>Password</span><input type="password" name="password"></label>
    <button>Sigh in</button>
  </form>
  <p>Don't have an account? <a href="/auth/register">Sign up here</a></p>
</section>