<section class="container">

  <form action="/auth/login" method="post">
    <h1>Login</h1>
    <label>Username</label>
    <input type="text" name="username" value="{{body.username}}">
    <label>Password</label>
    <input type="password" name="password">
    <button class="btn">Sign in</button>
    <p>Don't have an account? <a href="/auth/register">Sign up</a></p>
  </form>
</section>