<section class="container">
  <form class="aligned" action="/auth/register" method="post">
    <h1>Register</h1>

    <label>Username</label>
    <input {{#if error.fields.username}}class="field-error" {{/if}} type="text" name="username"
      value="{{body.username}}">
    <label>Password</label>
    <input {{#if error.fields.password}}class="field-error" {{/if}} type="password" name="password">
    <label>Repeat</label>
    <input {{#if error.fields.repass}}class="field-error" {{/if}} type="password" name="repass">

    <button class="btn">Sign up</button>
    <p>Already have an account? <a href="/auth/login">Sign in</a></p>
  </form>
</section>