<section>
  <h1>Register</h1>

  {{#if error}}
  <div>
    {{#each error.messages}}
    <p>{{this}}</p>
    {{/each}}
  </div>
  {{/if}}

  <form class="aligned" action="/auth/register" method="post">
    <label><span>Username</span><input {{#if error.fields.username}}class="field-error"{{/if}} type="text" name="username" value="{{body.username}}"></label>
    <label><span>Password</span><input {{#if error.fields.password}}class="field-error"{{/if}} type="password" name="password"></label>
    <label><span>Repeat</span><input {{#if error.fields.repass}}class="field-error"{{/if}} type="password" name="repass"></label>
    <button>Sign up</button>
  </form>
  <p>Already have an account? <a href="/auth/login">Sign in here</a></p>
</section>