<section>
  <h1>Register</h1>

  {{#if error}}
  <div>
    {{#each error}}
    <p>{{this}}</p>
    {{/each}}
  </div>
  {{/if}}

  <form class="aligned" action="/auth/register" method="post">
    <label><span>Username</span><input type="text" name="username"></label>
    <label><span>Password</span><input type="password" name="password"></label>
    <label><span>Repeat</span><input type="password" name="repass"></label>
    <button>Sign up</button>
  </form>
  <p>Already have an account? <a href="/auth/login">Sign in here</a></p>
</section>