* {
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

body {
  background-color: var(--seafoam-green);
}

.img {
  width: 300px;
  height: 300px;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px #00000070;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  border-radius: 0.5rem;
  color: var(--white);
  background: var(--green);
  font-size: 1.7rem;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  background: var(--dark-green);
}

ul {
  list-style: none;
}

.center {
  display: block;
  text-align: center;
}

input,
textarea {
  resize: none;
  width: 100%;
  margin: 0.7rem 0;
  font-size: 1.6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  color: var(--gray);
  text-transform: none;
}

.container {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.container form {
  background: var(--white);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  width: 40rem;
  padding: 2rem;
  box-shadow: 0 0 10px #00000070;
  border-radius: 0.5rem;
  margin-bottom: 10rem;
}

.container h1 {
  font-size: 2.5rem;
  color: var(--gray);
  text-align: center;
}

.container label {
  display: block;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.container button {
  text-align: center;
  width: 100%;
  margin: 1.5rem 0;
}

.container p {
  padding-top: 0.8rem;
  color: var(--gray);
  font-size: 1.5rem;
}

.container form a {
  color: var(--green);
  text-decoration: underline;
}